body {
  background-color: green;
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 100;
}

@media screen and (min-width: 480px) {
  body {
    background-color: blue;
  }
}

@media screen and (min-width: 768px) {
  body {
    background-color: red;
  }
}
